interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "1/2/3"},
      {"ref": "4/5/6"}], "ignoreErrors": 1, "infostruct": 1, "skip_external_system_updates":
      1}], "version": "1.1", "id": "4908028103787808"}'
    headers:
    method: POST
    uri: https://appdev.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[null,null]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
