interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "72724/11/1"},
      {"ref": "72724/4/1"}, {"ref": "72724/5/1"}], "ignoreErrors": 1, "infostruct":
      1, "skip_external_system_updates": 1}], "version": "1.1", "id": "7514431966910451"}'
    headers:
    method: POST
    uri: https://appdev.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"amplicon_type":"16S","col_attributemapping_ref":"72724/10/1","col_mapping":{"16O.16C.5":"16O.16C.5","16O.16C.6":"16O.16C.6","16O.16C.8":"16O.16C.8","16O.16C.9":"16O.16C.9","16O.16W.6":"16O.16W.6","16O.16W.7":"16O.16W.7","16O.16W.8":"16O.16W.8","16O.16W.9":"16O.16W.9","18O.18C.7":"18O.18C.7","18O.18C.8":"18O.18C.8","18O.18C.9":"18O.18C.9","18O.18W.6":"18O.18W.6","18O.18W.7":"18O.18W.7","18O.18W.8":"18O.18W.8","18O.18W.9":"18O.18W.9"},"data":{"col_ids":["16O.16C.5","16O.16C.6","16O.16C.8","16O.16C.9","16O.16W.6","16O.16W.7","16O.16W.8","16O.16W.9","18O.18C.7","18O.18C.8","18O.18C.9","18O.18W.6","18O.18W.7","18O.18W.8","18O.18W.9"],"row_ids":["002200083937d05914858b51aba09591","005997c557d58b6d481c505620a49dd4","0098f177d98b46bfd219cb1b96411b3a","00de18386af8215012d546ccb03a69c3","0119003321bca56cfda9840e5bf6cd32","0157f81bf552e6ba40941f632ba34797","01664c43512ac034e62fde14e27271f5","017ad37b9a3fd3480121b1da4abc1312","02026822bbf289288479cd7bd308df0e","0235ae3e2a8867ad8699d1dc535c349d"],"values":[[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,0.0,0.0,0.0,0.0],[29.0,103.0,75.0,155.0,105.0,38.0,20.0,65.0,219.0,135.0,125.0,39.0,37.0,24.0,43.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0],[0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,402.0,189.0,161.0,143.0,190.0,0.0,0.0],[0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,6.0,43.0],[0.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],[0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]]},"denoise_method":"dada2","sample_set_ref":"72724/4/1","scale":"raw","sequence_error_cutoff":2.0,"sequencing_file_handle":"KBH_229520","sequencing_instrument":"Illumina
        MiSeq","sequencing_technology":"Illumina","target_gene":"16S","target_subfragment":["V4","V5"],"taxon_calling_method":["denoising"]},"infostruct":{"objid":11,"name":"amplicons","type":"KBaseMatrices.AmpliconMatrix-10.0","save_date":"2024-01-22T20:11:08+0000","version":1,"saved_by":"ialarmedalien","wsid":72724,"workspace":"ialarmedalien:narrative_1705694499840","chsum":"c5722fc5676337c1fe084e4f9259c7c9","size":1968,"meta":{"amplicon_count":"10","condition_count":"15","col_attribute_mapping":"72724/10/1","scale":"raw","amplicon_type":"16S","sequencing_technology":"Illumina","sequencing_instrument":"Illumina
        MiSeq","taxon_calling_method_count":"1","target_subfragment_count":"2","sequence_error_cutoff":"2.0","target_gene":"16S","denoise_method":"dada2"},"adminmeta":{},"path":["72724/11/1"]},"provenance":[{"time":"2024-01-22T20:10:01+0000","epoch":1705954201000,"service":"GenericsAPI","service_ver":"2d68b13be4bf7278817cbfef949777a03ea1bda7","method":"import_matrix_from_biom","method_params":[{"target_subfragment":["V4","V5"],"library_layout":null,"barcode_error_rate":null,"sequencing_date":null,"read_length_cutoff":null,"scale":"raw","description":null,"sequencing_instrument":"Illumina
        MiSeq","workspace_id":72724,"chimera_detection_and_removal":null,"matrix_name":"amplicons","obj_type":"AmpliconMatrix","pcr_primers":null,"row_attributemapping_ref":null,"amplicon_type":"16S","taxon_calling":{"clustering_cutoff":null,"taxon_calling_method":["denoising"],"sequence_error_cutoff":2,"denoise_method":"dada2","clustering_method":""},"metadata_keys":null,"extraction":null,"sequencing_technology":"Illumina","read_pairing":null,"amplification":null,"sequencing_quality_filter_cutoff":null,"taxonomic_abundance_tsv":"amplicon_matrix.csv","sample_set_ref":"72724/4/1","target_gene":"16S","sequencing_center":null,"taxonomic_fasta":"RepresentativeSeqs.fasta","library_kit":null,"col_attributemapping_ref":null,"library_screening_strategy":null,"reads_set_ref":[]}],"input_ws_objects":["72724/4/1"],"resolved_ws_objects":["72724/4/1"],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"GenericsAPI","ver":"2d68b13be4bf7278817cbfef949777a03ea1bda7","code_url":"https://github.com/kbaseapps/GenericsAPI","commit":"2d68b13be4bf7278817cbfef949777a03ea1bda7"},{"name":"DataFileUtil","ver":"release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"ee7670582db65adee442f052a52444a0d84a52a0"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":72724,"created":"2024-01-22T20:11:08+0000","epoch":1705954268755,"refs":["72724/10/1","72724/4/1"],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_229520"]}},{"data":{"description":"Samples","samples":[{"id":"0d0d2421-7525-4761-a61b-b58bd99d0835","name":"16O.16C.5","version":1},{"id":"af949699-32be-4309-b54c-98af5d4c2a85","name":"16O.16C.6","version":1},{"id":"0f6950e7-799c-4729-bd13-b23de621d201","name":"16O.16C.8","version":1},{"id":"8f2af4b6-af58-47e5-b87a-6feefebf6c5f","name":"16O.16C.9","version":1},{"id":"f90964e3-9e32-45e8-8745-adaace936ef8","name":"16O.16W.6","version":1},{"id":"461f1576-2655-439d-b609-e863f35dc2b0","name":"16O.16W.7","version":1},{"id":"3633818b-727c-46e4-b4b2-9f55a72a6a80","name":"16O.16W.8","version":1},{"id":"66c6bbd1-3c5f-489d-8c69-94a8c6e12e31","name":"16O.16W.9","version":1},{"id":"e47fcbd8-6921-4bb1-b4fb-4b8f041fa59c","name":"18O.18C.7","version":1},{"id":"a531af3c-fb7c-4b5b-93d3-9997de789b0b","name":"18O.18C.8","version":1},{"id":"85137de5-22ef-4afa-a66c-8b574c57b38b","name":"18O.18C.9","version":1},{"id":"770fc528-d185-4125-88b9-0b4960516d0a","name":"18O.18W.6","version":1},{"id":"37da528a-2d8a-4fce-8b60-6bb2954e7efc","name":"18O.18W.7","version":1},{"id":"53b0daad-8a33-43b6-9cdd-497e757bfba2","name":"18O.18W.8","version":1},{"id":"84bf91f5-7347-4740-b28e-578695ead40f","name":"18O.18W.9","version":1}]},"infostruct":{"objid":4,"name":"Samples","type":"KBaseSets.SampleSet-2.0","save_date":"2024-01-19T20:06:48+0000","version":1,"saved_by":"ialarmedalien","wsid":72724,"workspace":"ialarmedalien:narrative_1705694499840","chsum":"e8f7fca109313133d6b54c91d9951d7a","size":1192,"meta":{"num_samples":"15"},"adminmeta":{},"path":["72724/4/1"]},"provenance":[{"time":"2024-01-19T20:06:32+0000","epoch":1705694792000,"service":"sample_uploader","service_ver":"20e60df2dfa54b90ba25dad4110cea5d0123754e","method":"import_samples","method_params":[{"share_within_workspace":1,"incl_input_in_output":1,"header_row_index":null,"description":"Samples","otu_prefix":"OTU","propagate_links":0,"sample_file":"Samples.csv","workspace_id":72724,"ignore_warnings":1,"prevalidate":1,"set_name":"Samples","output_format":null,"num_otus":20,"sample_set_ref":null,"incl_seq":0,"name_field":null,"workspace_name":"ialarmedalien:narrative_1705694499840","file_format":"kbase","keep_existing_samples":1,"taxonomy_source":"n/a"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"sample_uploader","ver":"20e60df2dfa54b90ba25dad4110cea5d0123754e","code_url":"https://github.com/kbaseapps/sample_uploader/","commit":"20e60df2dfa54b90ba25dad4110cea5d0123754e"},{"name":"DataFileUtil","ver":"release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"ee7670582db65adee442f052a52444a0d84a52a0"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":72724,"created":"2024-01-19T20:06:47+0000","epoch":1705694807849,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"sample":["53b0daad-8a33-43b6-9cdd-497e757bfba2","84bf91f5-7347-4740-b28e-578695ead40f","3633818b-727c-46e4-b4b2-9f55a72a6a80","f90964e3-9e32-45e8-8745-adaace936ef8","66c6bbd1-3c5f-489d-8c69-94a8c6e12e31","8f2af4b6-af58-47e5-b87a-6feefebf6c5f","770fc528-d185-4125-88b9-0b4960516d0a","0d0d2421-7525-4761-a61b-b58bd99d0835","0f6950e7-799c-4729-bd13-b23de621d201","af949699-32be-4309-b54c-98af5d4c2a85","a531af3c-fb7c-4b5b-93d3-9997de789b0b","461f1576-2655-439d-b609-e863f35dc2b0","e47fcbd8-6921-4bb1-b4fb-4b8f04[...]
- request:
    body: '{"method": "SampleService.get_samples", "params": [{"samples": [{"id":
      "0d0d2421-7525-4761-a61b-b58bd99d0835", "version": 1}, {"id": "af949699-32be-4309-b54c-98af5d4c2a85",
      "version": 1}, {"id": "0f6950e7-799c-4729-bd13-b23de621d201", "version": 1},
      {"id": "8f2af4b6-af58-47e5-b87a-6feefebf6c5f", "version": 1}, {"id": "f90964e3-9e32-45e8-8745-adaace936ef8",
      "version": 1}, {"id": "461f1576-2655-439d-b609-e863f35dc2b0", "version": 1},
      {"id": "3633818b-727c-46e4-b4b2-9f55a72a6a80", "version": 1}, {"id": "66c6bbd1-3c5f-489d-8c69-94a8c6e12e31",
      "version": 1}, {"id": "e47fcbd8-6921-4bb1-b4fb-4b8f041fa59c", "version": 1},
      {"id": "a531af3c-fb7c-4b5b-93d3-9997de789b0b", "version": 1}, {"id": "85137de5-22ef-4afa-a66c-8b574c57b38b",
      "version": 1}, {"id": "770fc528-d185-4125-88b9-0b4960516d0a", "version": 1},
      {"id": "37da528a-2d8a-4fce-8b60-6bb2954e7efc", "version": 1}, {"id": "53b0daad-8a33-43b6-9cdd-497e757bfba2",
      "version": 1}, {"id": "84bf91f5-7347-4740-b28e-578695ead40f", "version": 1}]}],
      "version": "1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://appdev.kbase.us/services/sampleservice
  response:
    body:
      string: '{"version": "1.1", "result": [[{"id": "0d0d2421-7525-4761-a61b-b58bd99d0835",
        "user": "ialarmedalien", "name": "16O.16C.5", "node_tree": [{"id": "16O.16C.5",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"sample_template":
        {"value": "KBASE"}}, "meta_user": {"gradient_pos_rel_amnt": {"value": 0.303944752},
        "pcr_primers": {"value": "FWD:GTGYCAGCMGCCGCGGTAA;REV:GGACTACNVGGGTWTCTAAT"},
        "unnamed:_0": {"value": 5}, "target_gene": {"value": "16S"}, "target_subfragment":
        {"value": "V4, V5"}, "bac16srrna_cn_dry_g_fraction": {"value": 27111871.84},
        "source_mat_id": {"value": "16O.16C"}, "gradient_pos_density": {"value": 1.7268178},
        "fraction_or_whole": {"value": "fraction"}, "bac16srrna_cn_ul": {"value":
        79549.46382}, "bac16srrna_cn_wet_g_fraction": {"value": 6413234.257}, "seq_meth":
        {"value": "Illumina MiSeq [OBI:0002003]"}, "nucl_acid_amp": {"value": "https://doi.org/10.1002/saj2.20159"},
        "dna_conc_ng_ul": {"value": 0}, "gradient_position": {"value": 5}}, "source_meta":
        [{"key": "sample_template", "skey": "sample_template", "svalue": {"value":
        "KBASE"}}]}], "save_date": 1705694798727, "version": 1}, {"id": "af949699-32be-4309-b54c-98af5d4c2a85",
        "user": "ialarmedalien", "name": "16O.16C.6", "node_tree": [{"id": "16O.16C.6",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"sample_template":
        {"value": "KBASE"}}, "meta_user": {"gradient_pos_rel_amnt": {"value": 0.394605527},
        "pcr_primers": {"value": "FWD:GTGYCAGCMGCCGCGGTAA;REV:GGACTACNVGGGTWTCTAAT"},
        "unnamed:_0": {"[...]
- request:
    body: '{"method": "SampleService.get_samples", "params": [{"samples": [{"id":
      "e2114bfa-5716-4e70-ad17-e97c35120b5a", "version": 1}, {"id": "29a12a7b-0d5a-4bbe-887c-447e2e422374",
      "version": 1}, {"id": "9d8218e6-bead-4095-86fa-e205bde9b6ce", "version": 1},
      {"id": "61f23492-a0cf-44e4-8f17-b146db04b252", "version": 1}]}], "version":
      "1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://appdev.kbase.us/services/sampleservice
  response:
    body:
      string: '{"version": "1.1", "result": [[{"id": "e2114bfa-5716-4e70-ad17-e97c35120b5a",
        "user": "ialarmedalien", "name": "16O.16C", "node_tree": [{"id": "16O.16C",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"enigma:replicate":
        {"value": "16.0"}}, "meta_user": {"bac16srrna_cn_dry_g_whole": {"value": 8920000000},
        "isotopolog": {"value": 962}, "plot": {"value": "16C"}, "site": {"value":
        4}, "isotope": {"value": "18O"}, "temp_trt": {"value": "control"}, "isotopolog_label":
        {"value": "natural abundance"}, "user_sample_code": {"value": "APS4.16C.TP2.16O"},
        "unnamed:_0": {"value": 1}, "isotopolog_atom_pos": {"value": "1S/H2O/h1H2"},
        "incubation_time_days": {"value": 28}, "isotopolog_approach": {"value": "single"},
        "oxygen_isotope": {"value": "16O"}, "bac16srrna_cn_wet_g_whole": {"value":
        2110000000}, "samp_vol_we_dna_ext": {"value": "10 gram"}}, "source_meta":
        [{"key": "enigma:replicate", "skey": "replicate", "svalue": {"value": 16}}]}],
        "save_date": 1705694813028, "version": 1}, {"id": "29a12a7b-0d5a-4bbe-887c-447e2e422374",
        "user": "ialarmedalien", "name": "16O.16W", "node_tree": [{"id": "16O.16W",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"enigma:replicate":
        {"value": "16.0"}}, "meta_user": {"bac16srrna_cn_dry_g_whole": {"value": 10400000000.0},
       [...]
