interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "72724/19/1"},
      {"ref": "72724/21/1"}, {"ref": "72724/23/1"}], "ignoreErrors": 1, "infostruct":
      1, "skip_external_system_updates": 1}], "version": "1.1", "id": "7245730971983082"}'
    headers:
    method: POST
    uri: https://appdev.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"description":"Samples","samples":[{"id":"134c863b-58cd-460d-9a3d-802921eb4994","name":"16O.16C.5","version":1},{"id":"16ea0e5e-32d0-4636-93ff-845ae10f6e87","name":"16O.16C.6","version":1},{"id":"e3382c1d-b0db-4be0-b1b4-907604270dad","name":"16O.16C.8","version":1},{"id":"e684f979-dd1b-4293-b81e-42bd0564203e","name":"16O.16C.9","version":1},{"id":"cee55d40-5ed7-4dfd-b63b-6ffde6034f72","name":"16O.16W.6","version":1},{"id":"18a5c6b8-b640-40fe-b8f2-d6d23484cc79","name":"16O.16W.7","version":1},{"id":"9eedb59e-303c-4a92-bc17-e87c292d5fe0","name":"16O.16W.8","version":1},{"id":"5a91d35d-bb11-4075-8cdd-40d2cd9b4db5","name":"16O.16W.9","version":1},{"id":"3f6ff090-bfc4-4be9-b32b-28b2c37a3c89","name":"18O.18C.7","version":1},{"id":"d9356001-5478-48bd-9fa9-ff02053464e6","name":"18O.18C.8","version":1},{"id":"c852a205-fa0c-4b49-bd36-9be8f30cec13","name":"18O.18C.9","version":1},{"id":"fb3d3589-b746-446c-9490-5f89ba70e5aa","name":"18O.18W.6","version":1},{"id":"3e241e0f-3d08-4c25-95f2-a4434c767733","name":"18O.18W.7","version":1},{"id":"47161825-dea2-49c2-925d-c2b478a1ad26","name":"18O.18W.8","version":1},{"id":"bd030c63-4d1f-42f7-8b31-d44d687486f3","name":"18O.18W.9","version":1},{"id":"f69b2ddf-722d-41d8-8ae9-1dc5fdf9293c","name":"20O.20C.8","version":1},{"id":"6cdc3b0f-e425-429e-a256-61712acc0f75","name":"20O.20C.9","version":1},{"id":"be3341cd-5058-4f01-9211-9f6a92afeaff","name":"20O.20W.8","version":1},{"id":"501afe2d-adc2-43fb-924d-a4edc248fda5","name":"20O.20W.9","version":1}]},"infostruct":{"objid":19,"name":"Samples","type":"KBaseSets.SampleSet-2.0","save_date":"2024-02-22T23:45:10+0000","version":1,"saved_by":"ialarmedalien","wsid":72724,"workspace":"ialarmedalien:narrative_1705694499840","chsum":"a8d6db6b727b543d3be48fd7d1e4c38b","size":1500,"meta":{"num_samples":"19"},"adminmeta":{},"path":["72724/19/1"]},"provenance":[{"time":"2024-02-22T23:44:48+0000","epoch":1708645488000,"service":"sample_uploader","service_ver":"20e60df2dfa54b90ba25dad4110cea5d0123754e","method":"import_samples","method_params":[{"share_within_workspace":1,"incl_input_in_output":1,"header_row_index":null,"description":"Samples","otu_prefix":"OTU","propagate_links":0,"sample_file":"72724_4_1_extras.csv","workspace_id":72724,"ignore_warnings":1,"prevalidate":1,"set_name":"Samples","output_format":null,"num_otus":20,"sample_set_ref":null,"incl_seq":0,"name_field":null,"workspace_name":"ialarmedalien:narrative_1705694499840","file_format":"kbase","keep_existing_samples":1,"taxonomy_source":"n/a"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"sample_uploader","ver":"20e60df2dfa54b90ba25dad4110cea5d0123754e","code_url":"https://github.com/kbaseapps/sample_uploader/","commit":"20e60df2dfa54b90ba25dad4110cea5d0123754e"},{"name":"DataFileUtil","ver":"release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"ee7670582db65adee442f052a52444a0d84a52a0"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":72724,"created":"2024-02-22T23:45:09+0000","epoch":1708645509625,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"sample":["e684f979-dd1b-4293-b81e-42bd0564203e","18a5c6b8-b640-40fe-b8f2-d6d23484cc79","9eedb59e-303c-4a92-bc17-e87c292d5fe0","f69b2ddf-722d-41d8-8ae9-1dc5fdf9293c","3f6ff090-bfc4-4be9-b32b-28b2c37a3c89","c852a205-fa0c-4b49-bd36-9be8f30cec13","bd030c63-4d1f-42f7-8b31-d44d687486f3","5a91d35d-bb11-4075-8cdd-40d2cd9b4db5","47161825-dea2-49c2-925d-c2b478a1ad26","d9356001-5478-48bd-9fa9-ff02053464e6","6cdc3b0f-e425-429e-a256-61712acc0f75","134c863b-58cd-460d-9a3d-802921eb4994","16ea0e5e-32d0-4636-93ff-845ae1[...]
- request:
    body: '{"method": "SampleService.get_samples", "params": [{"samples": [{"id":
      "134c863b-58cd-460d-9a3d-802921eb4994", "version": 1}, {"id": "16ea0e5e-32d0-4636-93ff-845ae10f6e87",
      "version": 1}, {"id": "e3382c1d-b0db-4be0-b1b4-907604270dad", "version": 1},
      {"id": "e684f979-dd1b-4293-b81e-42bd0564203e", "version": 1}, {"id": "cee55d40-5ed7-4dfd-b63b-6ffde6034f72",
      "version": 1}, {"id": "18a5c6b8-b640-40fe-b8f2-d6d23484cc79", "version": 1},
      {"id": "9eedb59e-303c-4a92-bc17-e87c292d5fe0", "version": 1}, {"id": "5a91d35d-bb11-4075-8cdd-40d2cd9b4db5",
      "version": 1}, {"id": "3f6ff090-bfc4-4be9-b32b-28b2c37a3c89", "version": 1},
      {"id": "d9356001-5478-48bd-9fa9-ff02053464e6", "version": 1}, {"id": "c852a205-fa0c-4b49-bd36-9be8f30cec13",
      "version": 1}, {"id": "fb3d3589-b746-446c-9490-5f89ba70e5aa", "version": 1},
      {"id": "3e241e0f-3d08-4c25-95f2-a4434c767733", "version": 1}, {"id": "47161825-dea2-49c2-925d-c2b478a1ad26",
      "version": 1}, {"id": "bd030c63-4d1f-42f7-8b31-d44d687486f3", "version": 1},
      {"id": "f69b2ddf-722d-41d8-8ae9-1dc5fdf9293c", "version": 1}, {"id": "6cdc3b0f-e425-429e-a256-61712acc0f75",
      "version": 1}, {"id": "be3341cd-5058-4f01-9211-9f6a92afeaff", "version": 1},
      {"id": "501afe2d-adc2-43fb-924d-a4edc248fda5", "version": 1}]}], "version":
      "1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://appdev.kbase.us/services/sampleservice
  response:
    body:
      string: '{"version": "1.1", "result": [[{"id": "134c863b-58cd-460d-9a3d-802921eb4994",
        "user": "ialarmedalien", "name": "16O.16C.5", "node_tree": [{"id": "16O.16C.5",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"sample_template":
        {"value": "KBASE"}}, "meta_user": {"fraction_or_whole": {"value": "fraction"},
        "seq_meth": {"value": "Illumina MiSeq [OBI:0002003]"}, "pcr_primers": {"value":
        "FWD:GTGYCAGCMGCCGCGGTAA;REV:GGACTACNVGGGTWTCTAAT"}, "version": {"value":
        1}, "gradient_pos_density": {"value": 1.7268178}, "bac16srrna_cn_wet_g_fraction":
        {"value": 6413234.257}, "dna_conc_ng_ul": {"value": 0}, "bac16srrna_cn_ul":
        {"value": 79549.46382}, "nucl_acid_amp": {"value": "https://doi.org/10.1002/saj2.20159"},
        "user": {"value": "ialarmedalien"}, "gradient_position": {"value": 5}, "type":
        {"value": "BioReplicate"}, "target_subfragment": {"value": "V4, V5"}, "save_date":
        {"value": 1705694798727}, "source_mat_id": {"value": "16O.16C"}, "bac16srrna_cn_dry_g_fraction":
        {"value": 27111871.84}, "id": {"value": "16O.16C.5-unique-id"}, "target_gene":
        {"value": "16S"}, "gradient_pos_rel_amnt": {"value": 0.303944752}}, "source_meta":
        [{"key": "sample_template", "skey": "sample_template", "svalue": {"value":
        "KBASE"}}]}], "save_date": 1708645498357, "version": 1}, {"id": "16ea0e5e-32d0-4636-93ff-845ae10f6e87",
        "user": "ialarmedalien", "name": "16O.16C.6", "node_tree": [{"id": "16O.16C.6",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"sample_template":
        {"value": "KBASE"}}, "meta_user": {"fraction_or_whole": {"value": "fraction"},
        "seq_meth": {"value": "Illumina MiSeq [OBI:0002003]"}, "pcr_primers": {"value":
        "FWD:GTGYCAGCMGCCGC[...]
- request:
    body: '{"method": "SampleService.get_samples", "params": [{"samples": [{"id":
      "cb32253a-c5e8-42b8-9397-4365ba4f2c0c", "version": 1}, {"id": "b3a74e2a-9ec5-40fc-9e70-42b7670fa3f5",
      "version": 1}, {"id": "24097e38-940e-4bf1-af56-a16598739f17", "version": 1},
      {"id": "824dbac1-3ba3-48d6-918d-a29a652674a2", "version": 1}, {"id": "8f9b3675-d766-43d4-aa8a-825101acd58b",
      "version": 1}]}], "version": "1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://appdev.kbase.us/services/sampleservice
  response:
    body:
      string: '{"version": "1.1", "result": [[{"id": "cb32253a-c5e8-42b8-9397-4365ba4f2c0c",
        "user": "ialarmedalien", "name": "14O.14W", "node_tree": [{"id": "14O.14W",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"enigma:replicate":
        {"value": "14.0"}, "sample_template": {"value": "KBASE"}}, "meta_user": {"isotopolog_atom_pos":
        {"value": "1S/H2O/h1H2/i1+2"}, "isotopolog": {"value": 962}, "samp_vol_we_dna_ext":
        {"value": "10 gram"}, "bac16srrna_cn_dry_g_whole": {"value": 19600000000.0},
        "isotopolog_approach": {"value": "single"}, "user_sample_code": {"value":
        "APS4.14W.TP2.14O"}, "temp_trt": {"value": "warmed"}, "oxygen_isotope": {"value":
        "14O"}, "site": {"value": 4}, "id": {"value": "14O.14W-unique-id"}, "plot":
        {"value": "14W"}, "user": {"value": "ialarmedalien"}, "bac16srrna_cn_wet_g_whole":
        {"value": 4640000000}, "incubation_time_days": {"value": 28}, "version": {"value":
        1}, "isotope": {"value": "14O"}, "isotopolog_label": {"value": "isotopically
        labeled"}, "save_date": {"value": 1705694813998}, "type": {"value": "BioReplicate"}},
        "source_meta": [{"key": "enigma:replicate", "skey": "enigma:replicate", "svalue":
        {"value": 14}}, {"key": "sample_template", "skey": "sample_template", "svalue":
        {"value": "KBASE"}}]}], "save_date": 1708645798284, "version": 1}, {"id":
        "b3a74e2a-9ec5-40fc-9e70-42b7670fa3f5", "user": "ialarmedalien", "name": "16O.16C",
        "node_tree": [{"id": [...]
